html, body { margin: 0px; padding: 0px; border: 0px; }

body{
  font-family: arial, helvetica;
  font-size:14px;
}


#Logo{
  position: absolute;
  top:20%;
  left:35%;
  }
#search_box{
    position: relative;
    top:40px;
    left:-10%;
  }
#box{
  width:500px;
  height: 20px;
  border: 1px solid grey;
}
#butoane{
  position: relative;
  top: 15px;
}
#cautare{
  position: relative;
  left:20%;
}
#noroc{
  position: relative;
  left:20%;
}
#text_sub_butoane{
  position: relative;
  top:15px;
  left:20%;
}
#stanga_jos{
  position: absolute;
  bottom: 5px;
  left: 5px;
}
#dreapta_jos{
  position: absolute;
  bottom: 5px;
  right: 10px;
}
#gri_jos{
  position: absolute;
  height: 35px;
  width: 100%;
  background-color: lightgrey;
  bottom: 0px;

}
